<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mindiqo.backend.mapper.AuthMapper">


    <select id="login" resultType="com.mindiqo.backend.entity.User">
        select id, username, password,  avatar, create_time, update_time, email
        from user_table
        where username = #{username}
          and password = #{password};
    </select>

    <insert id="insertUser">
        INSERT INTO user_table (username, password,avatar, email, create_time, update_time)
        VALUES (#{username}, #{password}, #{avatar}, #{email}, #{createTime}, #{updateTime})
    </insert>

    <update id="updatePassword">
        update user_table set password = #{password}, update_time = #{updateTime}
        where username = #{username}
    </update>

    <select id="getBasicInfoById" resultType="com.mindiqo.backend.entity.User">
        select id, username, avatar
        from user_table
        where id = #{id}

    </select>
    <select id="getUser" resultType="com.mindiqo.backend.entity.User">

        select id, username,  avatar, create_time, update_time, email, bio, bg_img
        from user_table
        where username = #{username}
    </select>

    <update id="updateUser">
        update user_table
        <set>
            <if test="avatar != null">
                avatar = #{avatar},
            </if>
            <if test="bio != null">
                bio = #{bio},
            </if>
            <if test="bgImg != null">
                bg_img = #{bgImg},
            </if>
            <if test="email != null">
                email = #{email},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime}
            </if>
        </set>
        where id = #{id}
    </update>
</mapper>